body {
    background-color: #CCCCCC;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><rect fill="%23CCCCCC" width="100" height="100"/><circle cx="50" cy="50" r="20" fill="%23DDDDDD"/></svg>');
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: #0000FF;
}

a:visited {
    color: #800080;
}

a:hover {
    text-decoration: underline;
    color: #FF0000;
}

h1, h2, h3 {
    text-shadow: 2px 2px #000000;
}

hr {
    height: 5px;
    border: none;
}

marquee {
    font-weight: bold;
}

ul {
    list-style-type: square;
}

li {
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

center {
    display: block;
}
