name: Build and Push Docker Images

on:
  push:
    branches: [ "main" ]

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Frontend
        run: |
          docker build -t ghcr.io/ostemadprinsesse/dinner-served-frontend:latest -f ./frontend/Dockerfile ./frontend
          docker push ghcr.io/ostemadprinsesse/dinner-served-frontend:latest

  build-backend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Backend
        run: |
          docker build -t ghcr.io/ostemadprinsesse/dinner-served-backend:latest -f ./backend/Dockerfile ./backend
          docker push ghcr.io/ostemadprinsesse/dinner-served-backend:latest